Repository sipsorcery-org/sipsorcery, pull requests merged in 2025-05, with the labels that each got.

#1393 Update aspnet websocket signalling class to decouple web socket disco…
  examples/WebRTCExamples/WebRTCFFmpegGetStarted/Program.cs
  examples/WebRTCExamples/WebRTCFFmpegGetStarted/WebRTCFFmpegGetStarted.csproj
  examples/WebRTCExamples/WebRTCFFmpegGetStarted/wwwroot/favicon.ico
  src/net/WebRTC/WebRTCWebSocketPeerAspNet.cs
Labels: webrtc

#1400 Fix the audio encoder to cope with two channel OPUS samples.
  examples/OpenAIExamples/WebRTCOpenAI/Program.cs
  src/app/Media/Codecs/AudioEncoder.cs
Labels: audio-encoding

#1405 Add keepalive param and host shutdown mechanism for WebSocketPeer signaling
  src/net/WebRTC/WebRTCWebSocketPeerAspNet.cs
Labels: webrtc

#1398 Feature/bouncy castle update
  src/SIPSorcery.csproj
  src/net/DtlsSrtp/DtlsSrtpClient.cs
  src/net/DtlsSrtp/DtlsSrtpServer.cs
  src/net/DtlsSrtp/DtlsSrtpTransport.cs
  src/net/DtlsSrtp/DtlsUtils.cs
  src/net/DtlsSrtp/SrtpParameters.cs
  src/net/WebRTC/IRTCPeerConnection.cs
  src/net/WebRTC/RTCPeerConnection.cs
  src/net/WebRTC/RTCSctpTransport.cs
  test/integration/net/DtlsSrtp/DtlsSrtpTransportUnitTest.cs
  test/integration/net/DtlsSrtp/DtlsUtilsUnitTest.cs
Labels: webrtc, dtls, srtp

#1417 Null reference bug fix in SDP packet mangler.
  examples/SIPExamples/SIPCallServer/Dockerfile
  examples/SIPExamples/SIPCallServer/Program.cs
  examples/SIPExamples/SIPCallServer/SIPCallServer.csproj
  examples/SIPExamples/SIPCallServer/readme-docker.txt
  src/app/SIPPacketMangler.cs
  src/net/SDP/SDP.cs
Labels: sip, sdp

#1409 Enhance STUNUri-related performance and reliability
  src/SIPSorcery.csproj
  src/net/STUN/STUNUri.cs
  src/sys/Net/IPSocket.cs
Labels: stun
